*{
    box-sizing: border-box;    
}

body{   
    background-color: #2a2a72;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    margin: 0;
    overflow: hidden;
}

.user-form{
    display: flex;
    gap: 10px;
    max-width: 700px;
    width: 100%;
}

.user-form input{
    width: 100%;
    display: block;
    background-color: #4c2885;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0,0,0,0.1);
}

.user-form input::placeholder{
    color: #bbb;
}

.user-form input:focus{
    outline: none;
}

.card {
    max-width: 800px;
    background-color: #4c2885;
    border-radius: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0,0,0,0.1);
    display: flex;
    padding: 1rem;
    margin: 0 1.5rem;
}

.avatar{
    border-radius: 50%;
    border: 10px solid #2a2a72;
    height: 150px;
    width: 150px;
}

.user-info {
    color: #eee;
    margin-left: 2rem;
}
.user-info a{
    color: #eee;
    text-decoration: none;
}

.user-info h2{
    margin-top: 0;
}

.user-info ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.user-info ul li{
    display: flex;
    align-items: center;
}

.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo{
    text-decoration: none;
    color: #fff;
    
    color: #3498db;
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

a .repo{
    color: #3498db;

}

a .repo:hover{
    text-decoration: underline;
}


.repo-container {    
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}
#repos {
    overflow-y: auto;
    padding: 10px;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
    scrollbar-width: thin; 
    scrollbar-color: #3498db #fff;
  }
  
  #repos::-webkit-scrollbar {
    width: 10px;
  }
  
  #repos::-webkit-scrollbar-thumb {
    background-color: #3498db;
    border-radius: 5px;
  }
  
  #repos::-webkit-scrollbar-track {
    background-color: #fff;
  }
  


.repo:hover {
    text-decoration: underline;
}

.repo-description {
    margin-bottom: 10px;
}

.tech-stack-tags span {
    margin-right: 5px;
    padding: 2px 5px;
    background-color: #f2f2f2;
    border-radius: 3px;
    font-size: 12px;
}

.lang-tag {
    color: #333;
}

.topic-tag {
    color: #333;
    background-color: #ffc107;
}

.loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 20px;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


@media (max-width: 500px){
    .card{
        flex-direction: column;
        align-items: center;
    }
    .user-form{
        max-width: 400px;
    }
}


.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
   
  }
  
  .page-link {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 4px;
    background-color: #3498db;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .page-link:hover {
    background-color: #2980b9;
  }
  

.buttons {
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}

.buttons::focus {
    outline: none;
    border-color: #4CAF50;
}

.buttons::placeholder {
    color: #aaa;
}

.buttons-button {
    /* padding: 10px 5px; */
    font-size: 16px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}


.styled-select {
    height: 100%;

    background: #fff;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
  }
  
  
  .styled-select::after {
    content: '\25BC'; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
  

  .styled-select option:checked {
    background: #f0f0f0;
  }
  

  .styled-select option:hover {
    background: #e0e0e0;
  }
  


.page-link.selected {
    background-color: #010909;
  }